.App {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    RGBA(25, 25, 25, 0.9),
    RGBA(2, 16, 25, 0.9)
  );
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#navbar {
  transition: top 0.3s;
}
.navi {
  position: relative;
  top: 0;
  z-index: 1;
}

.navbar-dark {
  background-image: linear-gradient(
    to top left,
    RGBA(25, 25, 25, 0.8),
    RGBA(2, 16, 25, 0.8)
  );
}

.dropdown-menu {
  background-image: linear-gradient(
    to top left,
    RGBA(25, 25, 25, 0.8),
    RGBA(2, 16, 25, 0.8)
  );
}
.dropdown-item {
  color: whitesmoke;
}

.header-container {
  height: 100vh;
}

.carousel {
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 100%;
}

.footer-container {
  background-image: linear-gradient(
    to top left,
    RGBA(25, 25, 25, 0.8),
    RGBA(2, 16, 25, 0.8)
  );
}

.footer-copyright {
  margin-top: auto;
  margin-bottom: auto;
}

.jumbotron {
  position: relative;
  background-color: inherit;
  z-index: 10;
  padding-top: 15em;
  text-align: left;
  color: whitesmoke;
  text-shadow: 2px 1px black;
  margin-left: 2em;
  margin-right: 2em;
}

@media screen and (max-width: 850px) {
  .showcase-wrap {
    flex-wrap: wrap;
  }

  .jumbotron {
    padding-top: 5em;
  }
  .learnMore {
    visibility: hidden;
  }
}

@media screen and (max-width: 380px) {
  .jumbotron {
    text-align: center;
    padding-top: 10em;
  }
  .jumbotron-content {
    width: 100%;
  }
  .learnMore {
    visibility: visible;
  }
}

.btn-primary {
  background-color: #08304b;
  border-color: #08304b;
  color: whitesmoke;
}

.btn-primary:hover {
  background-color: #282c34;
  border-color: #282c34;
}

.learnMore {
  margin-top: 2em;
  text-align: center;
  display: block;
}

.inline {
  display: inline;
}

.showcase-obj {
  margin-bottom: 0.5em;
}

.showcase-img {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body-container {
  position: relative;
  background-image: linear-gradient(
    to top left,
    RGBA(25, 25, 25, 1),
    RGBA(2, 16, 25, 1)
  );
  padding: 2em;
}

.UL-container {
  margin-top: 6em;
  margin-bottom: 6em;

  border-radius: 1em;
  padding: 2em;
  background-image: linear-gradient(
    to bottom right,
    RGBA(50, 50, 50, 0.8),
    RGBA(2, 16, 25, 0.8)
  );
  margin-left: 2em;
  margin-right: 2em;
}

.showcase-p {
  margin-left: 2em;
  margin-right: 2em;
}

.skills-UL li {
  text-align: left;
}

.footer-container {
  margin-bottom: 0;
  position: relative;
}
footer {
  padding: 1em;
  margin-bottom: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
